@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
.name{
    background-color: gainsboro !important;
    opacity: 85%;
}
.card-btn{
    background-color:#303841 !important;
    color:gainsboro !important;
    margin: 10px;
    padding: 5px;
    border-radius: 5%;
    text-decoration: none;
}
.headprod{
    font-size:5rem;
}
:hover.headprod{
   color:#d72323;
}
:hover.card-img-top{
  
    transition: transform .3s;
      transform: scale(1.1);
}
:hover.logo{
    transition: transform .3s;
    transform: scale(1.1);
}
@media screen and (max-width: 768px) {
    .homeImg{
        height: 10rem;
        width: auto;
    }
    .name{
        font-size:34px;
    }
    .foot_info{
        font-size:0.7rem;
    }
    .card{
        margin-left: 1.5rem;
    }
    .workhead-headprod{
        font-size: 5rem;
    }
    .btn-home{
        font-size: 7.4px;
    }
    .headprod{
        font-size:30px;
    }
    .conpic{
        height:18rem;
    }
}
